.bar {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-box {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.logo-img img {
  width: 100%;
  height: 100%;
}

.logo-title {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}
.search {
  position: relative;
}

.search input {
  width: 350px;
  border: 1px solid #fff;
  border-radius: 50px;
  background: none;
  color: #fff;
  padding: 5px 0 5px 15px;
  outline: none;
}
.search i {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 7px;
}

.dropdowns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.til select {
  border: 1px solid #fff;
  border-radius: 50px;
  background: none;
  outline: none;
  color: #fff;
  padding: 10px;
}
.til select option {
  background: #179fe8cc;
  border: none;
}
.kirish-btn {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  padding: 10px;
  margin-left: 20px;
}

.kirish-btn svg {
  margin-right: 20px;
}

.kirish-btn:hover {
  color: #fff;
}
