.doira {
  position: relative;
  margin-top: 250px;
}

.doira_right {
  background-image: url(../../assets/images/doira.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: -300px;
  height: 100vh;
  width: 100%;
}
.cards {
  /* margin-top: -80px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 50px 30px;
  padding: 20px;
  width: 400px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.1);
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.card_img {
  position: absolute;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
}
.card .slateblue {
  background: #5b72ee;
  border: 3px solid #5b72ee;
}
.orange {
  background: #f48c06;
  border: 3px solid #f48c06;
}
.deepskyblue {
  background: #29b9e7;
  border: 3px solid #29b9e7;
}
.pink {
  background: #f3627c;
  border: 3px solid #f3627c;
}
.yellow {
  border: 3px solid #ffcb05;
}

.card h4 {
  color: #1483d3;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.card span {
  text-align: center;
  color: #696984;
  font-size: 22px;
  font-weight: 400;
}

.card .birlashma {
  margin-top: 80px;
  border-radius: 30px;
  padding: 10px 30px;
  background: none;
  color: #00274c;
  font-size: 27px;
  font-weight: 700;
}
