.talim {
  background: linear-gradient(171deg, #05096e 0%, #169de8 100%);
  border-radius: 0px 0px 600px 0px;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.talim .top {
  margin-top: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.talim .top .left a {
  font-size: 14px;
  font-weight: 500;
}

.talim .left .bosh {
  border-right: 1px solid #fff;
  margin-right: 10px;
  padding-right: 10px;
  color: #fff;
}

.talim .left .back {
  color: #05cbd6;
}

.talim_searchs {
  margin-top: 85px;
  display: flex;
}

.talim_search {
  position: relative;
}
.talim_search input {
  border-radius: 5px;
  border: 1px solid #ced9ed;
  width: 360px;
  padding: 5px 0 5px 30px;
  color: #d9d9d9;
  font-size: 14px;
  font-weight: 400;
}
.talim_search i {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
  color: #d9d9d9;
}

.data_select {
  display: flex;
  margin-top: -7px;
}

.dropdown {
  margin: 0 0 0 30px;
  z-index: 10000;
  min-width: 230px;
  position: relative;
}
.dropdown,
.dropdown * {
  z-index: 10;
}
.dropdown .dropdown-btn {
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #7ed0fe;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.dropdown-content {
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
  background: #fff;
  border-radius: 15px;
  margin-top: 5px;
}
.dropdown-content .item {
  padding: 10px;
  cursor: pointer;
}
.dropdown-content .item:hover {
  background: linear-gradient(171deg, #05096e 0%, #169de8 100%);
  border-radius: 15px;
  color: #fff;
}

/* button {
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0 auto;
} */

.talim_box {
  margin-top: 70px;
  display: flex;
}
.talim_menu {
  width: auto;
  height: auto;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 15px 20px;
  margin-right: 30px;
}
.talim_menu-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.talim_menu-title h4 {
  font-size: 15px;
  margin: 0 5px 5px 0;
  color: #fff;
}
.talim_menu-title span {
  color: #9b9fc7;
  font-size: 15px;
}
.talim_menu ul {
  display: block;
}
.talim_menu ul li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.talim_menu ul li a .active,
.talim_menu ul li a:focus {
  color: #05cbd6;
}
.talim_menu ul li a {
  font-size: 16px;
}
.talim_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.talim_cards a:hover {
  color: #fff;
}
.talim_card {
  width: 299px;
  height: 187px;
  border-radius: 25px;
  background: rgba(243, 243, 243, 0.45);
  padding: 10px 10px 10px 25px;
  color: #fff;
}

.talim_card-name {
  font-size: 20px;
  font-weight: 600;
}
.talim_card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.talim_card-title {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}
.talim_card-img {
  width: 85px;
  height: 98px;
  border-radius: 10px;
  overflow: hidden;
}
.talim_card-img img {
  width: 100%;
  height: 100%;
}
.talim_card-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.talim_card-footer span {
  font-size: 14px;
  font-weight: 500;
}

.talim_card-footer span i {
  margin-right: 5px;
  font-size: 16px;
}

/* TalimDetail */

.talim_title {
  margin-left: 30px;
}

.talim_title h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.talim_detail-img {
  width: 425px;
  height: 324px;
  border-radius: 10px;
  overflow: hidden;
}
.talim_detail-img img {
  width: 100%;
  height: 100%;
}

.talim_detail-text {
  margin: 24px 0;
}
.talim_detail-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

.talim_detail-text textarea {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  width: 430px;
  height: 189px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  resize: none;
  border: none;
  background: rgba(243, 243, 243, 0.45);
  margin-bottom: 20px;
}

.talim_detail-box {
  display: flex;
}
.talim_detail-cards {
  margin-left: 20px;
}
.talim_detail-cards h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.talim_detail-card {
  margin: 16px 0 25px 0;
  display: flex;
  align-items: center;
  width: 510px;
  border-radius: 10px;
  padding: 10px 15px;
  background: rgba(243, 243, 243, 0.45);
}

.talim_detail-title {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.talim_detail-btn {
  background: #107ddb;
  border-radius: 5px;
  padding: 8px 15px;
  border: 1px solid #b5b5b5;
  margin-left: auto;
  width: 126px;
  text-align: center;
}

.talim_detail-btn a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
